/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Font gốc cho rem */
  -webkit-text-size-adjust: 100%; /* Ngăn tự động phóng to chữ trên iOS */
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden; /* Ngăn cuộn ngang */
  width: 100%;
}

#root {
  width: 100%;
  overflow-x: hidden;
}